.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 10px;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.product .infos {
  height: 100%;
  margin-bottom: 15px;
}

.product .price {
  margin-top: 5px;
}

.product img {
  max-height: 200px;
  /* width: 100%; */
  object-fit: contain;
  margin-top: 15px;
}

.product > button {
  background-color: #f0c14b;
  border: 1px solid;
  color: #111;
  border-color: #a88734;
}
